<%= form_with(model: @character, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_area :name, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :actor_id %>

    <%= f.collection_select :actor_id, Actor.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :movie_id, value: @movie.id %>

  <%= f.submit "Create character", class: "btn btn-block btn-outline-secondary" %>
<% end %>
